<div class="flex center">

  <div>
  <ng-container *ngFor="let _ of array(5); let i = index">
    <ng-container *ngIf="i < rate; else starBorder">
      <mat-icon
        (mouseover)="mouseOverStar(i)"
        (mouseout)="mouseOutStar(i)"
        (click)="setStar(i)"
        aria-disabled="false"
        aria-label="star rate"
        [ngClass]="{'button-like': isEditable, 'initial-cursor': !isEditable }"
        >star_rate</mat-icon
      >
    </ng-container>

    <ng-template #starBorder>
      <mat-icon
        (mouseover)="mouseOverStar(i)"
        (mouseout)="mouseOutStar(i)"
        (click)="setStar(i)"
        aria-disabled="false"
        aria-label="star border"
        [ngClass]="{'button-like': isEditable, 'initial-cursor': !isEditable }"
        >star_outline</mat-icon
      >
    </ng-template>
  </ng-container>

  </div>

  <button [ngClass]="{'invisible': isEditable}" mat-button (click)="reset()">清除</button>

  </div>
