.color-bar {
  width: 4px;
  height: 100%;
  background-color: lightblue;
}

.logic-conditions-container {
  display: grid;
  row-gap: 4px;
  width: 100%;
}

.login-condition-outer-container {
  display: flex;
  column-gap: 4px;
  justify-content: stretch;
}

.logic-operator-color-bar-container {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.logic-condition-direct-container {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, auto);
  column-gap: 4px;
  align-items: center;
}

.logic-input-control-container {
  width: 600px;
  border-radius: 4px;
  border-style: solid;
  border-color: lightblue;
  padding: 4px;
  overflow: scroll;

  display: grid;
  row-gap: 4px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding-left: 40px;
}
