
<div class="logic-input-control-container">

  <div class="login-condition-outer-container">

    <div class="logic-operator-color-bar-container">
      <app-logic-operator-button></app-logic-operator-button>
      <div class="color-bar"></div>
    </div>

    <div class="logic-conditions-container">
      <div class="logic-condition-direct-container">
        <app-logic-condition></app-logic-condition>
        <app-condition-delete-button></app-condition-delete-button>
      </div>
      <div class="logic-condition-direct-container">
        <app-logic-condition></app-logic-condition>
        <app-condition-delete-button></app-condition-delete-button>
      </div>



      <div class="login-condition-outer-container">

        <div class="logic-operator-color-bar-container">
          <app-logic-operator-button></app-logic-operator-button>
          <div class="color-bar"></div>
        </div>

        <div class="logic-conditions-container">
          <div class="logic-condition-direct-container">
            <app-logic-condition></app-logic-condition>
            <app-condition-delete-button></app-condition-delete-button>
          </div>
          <div class="logic-condition-direct-container">
            <app-logic-condition></app-logic-condition>
            <app-condition-delete-button></app-condition-delete-button>
          </div>
          <app-condition-add-button></app-condition-add-button>
        </div>

      </div>



      <app-condition-add-button></app-condition-add-button>
    </div>

  </div>

</div>
